body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 100%;
}

.fc .fc-timegrid-slots table tr {
  padding: 2px 4px;
  height: 105px;
} 

.fc .fc-timegrid-cols .fc-timegrid-event-harness {
  z-index: -1 !important;
} 